<header id="main-header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="logo" href="index.hbs">
                                <img src="/images/logo-invert.png" alt="Image Alternative text" title="Image Title" />
                            </a>
                        </div>
                        <div class="col-md-3 col-md-offset-2">
                        </div>
                        <div class="col-md-4">
                            <div class="top-user-area clearfix">
                                <ul class="top-user-area-list list list-horizontal list-border">
                                    <li><a href="http://localhost:3000/admin/" style="font-size:15px;"><strong>Login</strong></a></li>
                                    <li><a href="#"><strong><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></strong></a></li>
                                    <li><a href="#"><strong><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></strong></a></li>
                                    <li><a href="#"><strong><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></strong></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="nav">
                    <ul class="slimmenu" id="slimmenu">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="/indian-destinations">Indian Tours</a></li>
                        <li><a href="/international-destination">International Tours</a></li>
                        <li><a href="/pilgrimage-tours">Pilgrimage Tours</a></li>
                        <li><a href="#">Corporate Tours</a></li>
                        <li><a href="#">Honeymoon Tours</a></li>
                        <li><a href="#">Cruise Holidays</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </header>
<div class="hidden-xs sticky-menu">
    <ul style="padding:0px;">
        <li>
            <a href="#" class="fa fa-facebook" title="Facebook"></a>
        </li>
        <li>
            <a href="#" class="fa fa-twitter" title="Twitter"></a>
        </li>
        <li>
            <a href="#" class="fa fa-google-plus" title="Google Plus"></a>
        </li>
        <li>
            <a href="#" class="fa fa-youtube" title="Youtube"></a>
        </li>
        <li><a href="mailto:reservations@dreamdestinationz.com" class="page-scroll" title="Quick Enquiry" target="_blank"><i class="fa fa-envelope-o"></i></a></li>
    </ul>
</div>