<!DOCTYPE HTML>
<html>
   <head>
      <title>Dream Destinationz</title>
      <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
      <meta name="keywords" content="" />
      <meta name="description" content="">
      <meta name="author" content="Bidhu Prasad Panda">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
      <!-- /GOOGLE FONTS -->
      <link rel="stylesheet" href="/stylesheets/styles.css">
      <link rel="stylesheet" href="/stylesheets/bootstrap.css">
      <link rel="stylesheet" href="/stylesheets/font-awesome.css">
      <link rel="stylesheet" href="/stylesheets/icomoon.css">
      <link rel="stylesheet" href="/stylesheets/mystyles.css">
      <script src="/js/modernizr.js"></script>
   </head>
   <body>
      <div class="global-wrap">
         {{> header}}
         <!-- TOP AREA -->
       <container>
          {{{body}}}
       </container>
         {{> footer}}
         <script src="/js/jquery.js"></script>
         <script src="/js/bootstrap.js"></script>
         <script src="/js/slimmenu.js"></script>
         <script src="/js/bootstrap-datepicker.js"></script>
         <script src="/js/bootstrap-timepicker.js"></script>
         <script src="/js/nicescroll.js"></script>
         <script src="/js/dropit.js"></script>
         <script src="/js/ionrangeslider.js"></script>
         <script src="/js/icheck.js"></script>
         <script src="/js/fotorama.js"></script>
         <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
         <script src="/js/typeahead.js"></script>
         <script src="/js/card-payment.js"></script>
         <script src="/js/magnific.js"></script>
         <script src="/js/owl-carousel.js"></script>
         <script src="/js/fitvids.js"></script>
         <script src="/js/tweet.js"></script>
         <script src="/js/countdown.js"></script>
         <script src="/js/gridrotator.js"></script>
         <script src="/js/custom.js"></script>
         <script src="/js/home__package__listing.js"></script>
         <script src="/js/package__details.js"></script>
         <script src="/js/destinations__listing.js"></script>
         <script src="/js/pilgrimage__tours.js"></script>
          {{!-- <script>
          $(function() {
                  $('.pop').on('click', function() {
                      $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                      $('#imagemodal').modal('show');
                  });
              });
        </script> --}}
      </div>
   </body>
</html>
