<!DOCTYPE HTML>
<html>

<head>
    <title>Dream Destinationz|{{title}}</title>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="Bidhu Prasad Panda">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <!-- /GOOGLE FONTS -->
    {{!-- <link rel="stylesheet" href="css/styles.css">
    <script src="js/modernizr.js"></script> --}}

</head>

<body>

    <div class="global-wrap">

        <!-- TOP AREA -->
        <div class="top-area-other special-pages show-onload">
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-parallax" style="background-image:url('images/destinations/kashmir.jpg');"></div>
            </div>
        </div>
        <div class="slider-top-text">
            <h2>{{title}}</h2>
        </div>
        <!-- END TOP AREA  -->

        <div class="container">
            <div class="gap"></div>
            <h2 class="text-center">{{title}}</h2>
            <div class="gap">
                <div class="row row-wrap indian__destinations__list">
                    
                </div>
            </div>
        </div>

       <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="informationBoxIcons text-center">
                                    <i class="fa fa-building fa-4x"></i>
                                </div>
                            </div>
                            <div class="col-md-8" style="line-height: 1.0em;">
                                <p><strong>In Store</strong></p>

                                <p>Visit us in a store near you</p>
                                <a href="#">Store Locator </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="informationBoxIcons text-center">
                                    <i class="fa fa-desktop fa-4x"></i>
                                </div>
                            </div>
                            <div class="col-md-8" style="line-height: 1.0em;">
                                <p><strong>Online</strong></p>

                                <p>You've come to the right place</p>
                                <a href="#">www.dream-destinationz.com </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="informationBoxIcons text-center">
                                    <i class="fa fa-phone fa-4x"></i>
                                </div>
                            </div>
                            <div class="col-md-8" style="line-height: 1.0em;">
                                <p><strong>Call Us</strong></p>

                                <p>7 Days a week - 01733 224 808</p>
                                <a href="#">Contact Us </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
        </div>
        
        

        <div class="bg-holder">
            <div class="bg-mask"></div>
            <div class="bg-parallax" style="background-image:url(images/parallax_back.jpg);"></div>
            <div class="bg-content">
                <div class="container">
                    <div class="gap gap-big text-center text-white">
                        <h2 class="text-uc mb20">Last Minute Deal</h2>
                        <ul class="icon-list list-inline-block mb0 last-minute-rating">
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="last-minute-title">Delightful Australia</h5>
                        <p class="last-minute-date">Thu 14 Sep - Sat 16 Sep</p>
                        <p class="mb20"><b>$120</b> / person</p><a class="btn btn-lg btn-white btn-ghost" href="#">Book Now <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>