<!DOCTYPE html>
<html>
  <head>
    <title>Home | Welcome to Dream Destinationz</title>
   
    <link rel="shortcut icon" href="/images/favicon.ico" />
     <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link href="/plugins/mediaelement/mediaelementplayer.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" /><![endif]-->
    <!-- Color Style -->
    <link class="alt" href="/colors/color1.css" rel="stylesheet" type="text/css">
    <link class="alt" href="/stylesheets/custom.css" rel="stylesheet" type="text/css">
    <link class="alt" href="/stylesheets/custom-home.css" rel="stylesheet" type="text/css">
    <link class="alt" href="/stylesheets/listpage.css" rel="stylesheet" type="text/css">
    <link class="alt" href="/stylesheets/pack.css" rel="stylesheet" type="text/css">
    <link class="alt" href="/stylesheets/custom_latest.css" rel="stylesheet" type="text/css">
    <link class="alt" href="/stylesheets/smart_wizard_home.css" rel="stylesheet" type="text/css">
    <link class="alt" href="/stylesheets/smart_wizard_theme_dots_home.css" rel="stylesheet" type="text/css">

    <link href="/style-switcher/css/style-switcher.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/stylesheets/datepicker.css">
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/6c79e8fb11.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAREjaAKT9JtvtwvlPgl1iGzocGW6C11m0&callback=initMap">
    </script>
    
  </head>
  <body>
    {{> header}}
  <container>
      {{{body}}}
  </container>
    
  </body>

  {{> footer}}

    <a id="back-to-top" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>


    <script src="/javascripts/jquery-2.0.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.7.2/jquery.serializejson.js"></script>

    <!-- Jquery Library Call -->
    <script src="/plugins/prettyphoto/js/prettyphoto.js"></script>
    <!-- PrettyPhoto Plugin -->
    <script src="/javascripts/helper-plugins.js"></script>
    <!-- Plugins -->
    <script src="/javascripts/bootstrap.js"></script>
    <!-- UI -->
    <script src="/javascripts/waypoints.js"></script>
    <!-- Waypoints -->
    <script src="/plugins/mediaelement/mediaelement-and-player.min.js"></script>
    <!-- MediaElements -->
    <script src="/javascripts/init.js"></script>
    <!-- All Scripts -->
    <script src="/plugins/flexslider/js/jquery.flexslider.js"></script>
    <!-- FlexSlider -->
    <script src="/plugins/countdown/js/jquery.countdown.min.js"></script>
    <!-- Jquery Timer -->
    <script src="/style-switcher/js/jquery_cookie.js"></script>
    <script src="/style-switcher/js/script.js"></script>
    <!-- Style Switcher Start -->
    <script src="/javascripts/masonry.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <script src="/javascripts/modernizr.js"></script>
    <script src="/javascripts/custom-home.js"></script>
    <script src="/javascripts/countries.js"></script>
    <script src="/javascripts/helperUserside.js"></script>
    <script src="/js/wiz_helper_packageinquiry.js"></script>
    <script src="/js/jquery.smartWizard.home.packageinquiry.js"></script>
     <script type="text/javascript" src="/javascripts/bootstrap-datepicker.js"> </script>
     <script type="text/javascript" src="/js/inquiry.page.helper.js"></script>
     <script type="text/javascript" src="/js/notify.js"></script>
     <script type="text/javascript" src="/js/userside_helper.js"></script>
     <script type="text/javascript" src="/js/map.helper.js"></script>
      <!-- 3 KB -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
    <script>
      $('#myModal5').addClass('animated bounceInUp');
    </script>

     <script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=78355193"></script>
     
</html>
